*.iml
*/*.iml
*/*/*.iml
/target/
*/target/
*/*/target/
*/*/*/target/
/.idea/
*/.idea
*/*/.idea
output/**
runtime/**
temp/**
*.project
target
*.classpath
*.settings
bin
.DS_Store
upload.sh
deploy/version.txt
*.swp
